<h1> Sails Blog</h1>

<p>Welcome to my very first web application with sails and it is a blog</p>

<h2>Recent articles</h2>

<!-- Display top 5 recent articles -->

<ul>
    <% for (let recentArticle of recentArticles) { %>
    
    <li>
        <a href="/articles/<%= recentArticle.id %>"> 
            <%= recentArticle.title %> 
        </a>
    </li>

    <% } %>
</ul>

<p>
    <a href="/articles">See all articles</a>
</p>

<p>
    <a href="/articles/new">New article</a>
</p>