<h1>Admin login</h1>
<form action="/login" method="POST">
    <input type="text" name="emailAddress" placeholder="Email address" /> <br>

    <input type="password" name="password" placeholder="Password" /> <br>

    <button type="submit">Login</button>
</form>