<h1>Articles</h1>

<ul>
    <% for (let article of articles) { %>
    
        <li>
            <a href="/articles/<%= article.id %>"> 
                <%= article.title %> 
            </a>
        </li>

    <% } %>
</ul>

<p>
    <a href="/articles/new">New article</a>
</p>

<p>
    <a href="/">Back to home</a>
</p>